name: Prepare Database

on:
  push:
    branches:
      - deploy

jobs: 
  setup-database:
    runs-on: self-hosted
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm install

      - name: Delete old database
        run: npx ts-node remove_db.ts

      - name: Seed database
        run: npx ts-node insert_sample_data.ts